fastapi
uvicorn[standard]
pandas
pyarrow
openpyxl
python-multipart
pydantic
python-jose[cryptography]
bcrypt

pvlib
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
scipy
